Repository WebDevStudios/wds-bt: changes, and which lefthook commands are due for each by the changed paths.
All: formatphp, lintphp, formatstyles, lintstyles, formatjavascript, lintjavascript, other, templates-exclude

formatphp:
  run: composer run-script phpcs-fix {staged_files}

lintphp:
  run: composer run-script phpcs {staged_files}

formatstyles:
  run: npx prettier {staged_files} --write

lintstyles:
  run: npx stylelint {staged_files} --fix

formatjavascript:
  run: npx prettier {staged_files} --write

lintjavascript:
  run: npx eslint {staged_files} --fix

other:
  run: "staged_files=\"$LEFTHOOK_STAGED_FILES\"\nfor file in $staged_files\ndo\n  if [[ ! \"$file\" =~ ^templates/ ]]; then\n    npx prettier \"$file\" --write\n  fi\ndone\n"
  stage_fixed: true
  stage: pre-commit

templates-exclude:
  run: echo "Skipping templates folder"

Additional fixes to icon placement and paddings
  assets/scss/blocks/core/navigation.scss
Due: formatstyles, lintstyles

Remove footer templatelock
  patterns/footer-default.php
Due: formatphp, lintphp

Hotfix - restrict patterns to theme only
  inc/hooks/restrict-block-patterns.php
Due: formatphp, lintphp

Remove unregister embed function
  assets/js/block-filters/index.js
  assets/js/block-filters/unregister-core-embed.js
Due: formatjavascript, lintjavascript

WIP - sanitize svgs before upload
  composer.json
  composer.lock
  inc/hooks/enable-svg.php
Due: formatphp, lintphp, other

Remove svg support from wds-bt
  inc/hooks/enable-svg.php
Due: formatphp, lintphp

Revert composer json and composer lock
  composer.json
  composer.lock
Due: other

Create jira-integration.yml
  .github/workflows/jira-integration.yml
Due: other

Update jira-integration.yml
  .github/workflows/jira-integration.yml
Due: other

#36 Retain existing CSS classes on buttons on size change
  assets/js/block-filters/buttons.js
Due: formatjavascript, lintjavascript

Remove hardcoded icons
  assets/images/icons/icon-circle-right.svg
  assets/scss/blocks/core/button.scss
  theme.json
Due: formatstyles, lintstyles, other

Run create block theme "Save Style Changes"
  theme.json
Due: other

Run create block theme "Save Template Changes"
  templates/index.html
  templates/page-no-title.html
  templates/page.html
  templates/search.html
  templates/single.html
Due: other, templates-exclude

updated security fix on composer.lock
  composer.lock
Due: none

add disable spacer code
  inc/functions/disable-spacer.php
Due: formatphp, lintphp

Re-add icon
  assets/images/icons/icon-circle-right.svg
Due: none

Update security action
  .github/workflows/security.yml
Due: other

Update node version
  .github/workflows/security.yml
Due: other

Update npm packages
  package-lock.json
  package.json
Due: other

Add comment to force run action
  .github/workflows/security.yml
Due: other

Unregister spacer block
  assets/js/block-filters/unregister-core-embed.js
  inc/functions/disable-spacer.php
Due: formatphp, lintphp, formatjavascript, lintjavascript

Re-add embed blocks
  assets/js/block-filters/index.js
  assets/js/block-filters/unregister-core-blocks.js
Due: formatjavascript, lintjavascript

Resolves #52 by updating build script to be compatible on Windows machines
  webpack.config.js
Due: formatjavascript, lintjavascript

Update theme.json
  theme.json
Due: other

Update theme.json
  styles/dark.json
  theme.json
Due: other

bulk update styles
  assets/js/block-filters/index.js
  assets/js/block-filters/unregister-core-embed.js
  assets/scss/base/forms.scss
  assets/scss/base/global.scss
  assets/scss/base/pagination.scss
  assets/scss/blocks/core/button.scss
  assets/scss/blocks/core/calendar.scss
  assets/scss/blocks/core/comments.scss
  assets/scss/blocks/core/cover.scss
  assets/scss/blocks/core/file.scss
  assets/scss/blocks/core/latest-posts.scss
  assets/scss/blocks/core/list.scss
  assets/scss/blocks/core/page-list.scss
  assets/scss/blocks/core/post-terms.scss
  assets/scss/blocks/core/query-pagination.scss
  assets/scss/blocks/core/query.scss
  assets/scss/blocks/core/search.scss
  assets/scss/blocks/core/separator.scss
  assets/scss/blocks/core/social-links.scss
  assets/scss/blocks/core/table.scss
  assets/scss/blocks/core/tag-cloud.scss
  assets/scss/template-parts/footer.scss
  inc/block-template/block/editor.scss.mustache
  inc/functions/back-to-top.php
  patterns/post-hero.php
  styles/dark.json
  theme.json
Due: formatphp, lintphp, formatstyles, lintstyles, formatjavascript, lintjavascript, other

Update webpack and remove unused packages
  a11y.cjs
  assets/blocks/.gitkeep
  assets/index.js
  package-lock.json
  package.json
  webpack.config.js
Due: formatjavascript, lintjavascript, other

Upate webpack and packagejson. Cleanup
  .github/workflows/assertions.yml
  .github/workflows/jira-integration.yml
  .github/workflows/security.yml
  assets/blocks/.gitkeep
  babel.config.json
  composer.json
  composer.lock
  package-lock.json
  package.json
  theme.json
  webpack.config.js
Due: formatjavascript, lintjavascript, other

Update packages and fix sass @import deprecation
  .stylelintrc.json
  assets/scss/_index.scss
  assets/scss/abstracts/_index.scss
  assets/scss/abstracts/mobile-only-mixins.scss
  assets/scss/abstracts/utility.scss
  assets/scss/base/_index.scss
  assets/scss/blocks/core/button.scss
  assets/scss/blocks/core/code.scss
  assets/scss/blocks/core/comments.scss
  assets/scss/blocks/core/file.scss
  assets/scss/blocks/core/latest-posts.scss
  assets/scss/blocks/core/list.scss
  assets/scss/blocks/core/navigation.scss
  assets/scss/blocks/core/query.scss
  assets/scss/blocks/core/search.scss
  assets/scss/blocks/core/table.scss
  assets/scss/blocks/core/video.scss
  assets/scss/blocks/third-party/_index.scss
  assets/scss/template-parts/_index.scss
  assets/scss/template-parts/header.scss
  assets/scss/templates/404.scss
  assets/scss/templates/_index.scss
  composer.lock
  package-lock.json
  package.json
Due: formatstyles, lintstyles, other

Update webpack config
  package-lock.json
  package.json
  webpack.config.js
Due: formatjavascript, lintjavascript, other

Update create block template
  inc/block-template/index.js
  package.json
  webpack.config.js
Due: formatjavascript, lintjavascript, other

Update create block template
  webpack.config.js
Due: formatjavascript, lintjavascript

Changed composer.json Description for WDSBT-253
  composer.json
Due: other

This fixed WDSBT-253 and WDSBT-254
  composer.json
Due: other

WDSBT-227 - Cleanup extra files and folders
  webpack.config.js
Due: formatjavascript, lintjavascript

WDSBT-227 - Update setup and webpack
  inc/setup/setup.php
  package-lock.json
  webpack.config.js
Due: formatphp, lintphp, formatjavascript, lintjavascript, other

WDSBT-227 - Update packages
  composer.json
  composer.lock
Due: other

WDSBT-227 - Update npm packages
  package-lock.json
  package.json
Due: other

Path conditions:
  formatphp: any of: *.php
  lintphp: any of: *.php
  formatstyles: any of: *.{css,scss}
  lintstyles: any of: *.{css,scss}
  formatjavascript: any of: *.{js,ts,tsx}
  lintjavascript: any of: *.{js,ts,tsx}
  other: any of: *.{yml,json,html}, but not: group_*.json
  templates-exclude: any of: templates/**
