Repository WebDevStudios/wds-bt: changes, and which lefthook commands are due for each by the changed paths.
All: formatphp, lintphp, formatstyles, lintstyles, formatjavascript, lintjavascript, other, templates-exclude

formatphp:
  run: composer run-script phpcs-fix {staged_files}

lintphp:
  run: composer run-script phpcs {staged_files}

formatstyles:
  run: npx prettier {staged_files} --write

lintstyles:
  run: npx stylelint {staged_files} --fix

formatjavascript:
  run: npx prettier {staged_files} --write

lintjavascript:
  run: npx eslint {staged_files} --fix

other:
  run: "staged_files=\"$LEFTHOOK_STAGED_FILES\"\nfor file in $staged_files\ndo\n  if [[ ! \"$file\" =~ ^templates/ ]]; then\n    npx prettier \"$file\" --write\n  fi\ndone\n"
  stage_fixed: true
  stage: pre-commit

templates-exclude:
  run: echo "Skipping templates folder"

Fix heading clamp
  theme.json
Due: other

WDSBT-286 - Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Fix mobile navigation style
  assets/scss/blocks/core/navigation.scss
  theme.json
Due: formatstyles, lintstyles, other

WDSBT-188 - Fix navigation menu
  assets/scss/blocks/core/navigation.scss
  patterns/header-default.php
  theme.json
Due: formatphp, lintphp, formatstyles, lintstyles, other

WDSBT-188 - Update core styles
  assets/scss/base/global.scss
  assets/scss/base/pagination.scss
  assets/scss/blocks/core/button.scss
  assets/scss/blocks/core/calendar.scss
  assets/scss/blocks/core/comments.scss
  assets/scss/blocks/core/file.scss
  assets/scss/blocks/core/latest-comments.scss
  assets/scss/blocks/core/latest-posts.scss
  assets/scss/blocks/core/list.scss
  assets/scss/blocks/core/navigation.scss
  assets/scss/blocks/core/page-list.scss
  assets/scss/blocks/core/post-author.scss
  assets/scss/blocks/core/pullquote.scss
  assets/scss/blocks/core/query-pagination.scss
  assets/scss/blocks/core/query.scss
  assets/scss/blocks/core/quote.scss
  assets/scss/blocks/core/social-links.scss
  assets/scss/blocks/core/table.scss
  assets/scss/blocks/core/tag-cloud.scss
  assets/scss/templates/search.scss
  styles/dark.json
Due: formatstyles, lintstyles, other

WDSBT-188 - Adjust button styles
  assets/scss/base/global.scss
  assets/scss/blocks/core/button.scss
  theme.json
Due: formatstyles, lintstyles, other

WDSBT-188 - Fix calendar style
  assets/scss/blocks/core/calendar.scss
Due: formatstyles, lintstyles

WDSBT-188 - Adjust core styles
  assets/scss/base/forms.scss
  assets/scss/base/global.scss
  assets/scss/base/options.scss
  assets/scss/blocks/core/button.scss
  assets/scss/blocks/core/calendar.scss
  assets/scss/blocks/core/code.scss
  assets/scss/blocks/core/file.scss
  assets/scss/blocks/core/gallery.scss
  assets/scss/blocks/core/latest-posts.scss
  assets/scss/blocks/core/post-author.scss
  assets/scss/blocks/core/query.scss
  assets/scss/blocks/core/separator.scss
  assets/scss/blocks/core/verse.scss
  assets/scss/template-parts/header.scss
  inc/setup/theme-options.php
  theme.json
Due: formatphp, lintphp, formatstyles, lintstyles, other

WDSBT-188 - Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Use rimraf instead of rm -rf for cross browser compatibility
  README.md
  composer.lock
  package-lock.json
  package.json
  theme.json
  webpack.config.js
Due: formatjavascript, lintjavascript, other

Update screenshot
  screenshot.png
Due: none

Update branch for workflows
  .github/workflows/assertions.yml
  .github/workflows/security.yml
  README.md
Due: other

Update README.md
  README.md
Due: none

#62 - Use rimraf instead of rm -rf for cross browser compatibility
  README.md
  package.json
Due: other

#72 - Fix font and style generation logic
  webpack.config.js
Due: formatjavascript, lintjavascript

Simplified and clarified script logic for better maintainability
  package.json
Due: other

Simplified and clarified script logic for better maintainability
  package.json
  webpack.config.js
Due: formatjavascript, lintjavascript, other

WDSBT-241 - Fix lint issues
  updateVersion.js
Due: formatjavascript, lintjavascript

WDSBT-241 - Update nvmrc
  .nvmrc
  package-lock.json
  package.json
Due: other

WDSBT-241 - Update package lock
  package-lock.json
Due: other

Fix conflicts
  package-lock.json
Due: other

Dynamically register block pattern categories based on subfolders
  inc/hooks/register-block-pattern-categories.php
Due: formatphp, lintphp

Categorized patterns into subfolders
  patterns/cards/card-11.php
  patterns/cards/card-18.php
  patterns/cards/card-19.php
  patterns/cards/card-20.php
  patterns/cards/card-21.php
  patterns/cards/card-22.php
  patterns/cards/card-27.php
  patterns/cards/card-29.php
  patterns/cards/card-3.php
  patterns/cards/card-30.php
  patterns/cards/card-31.php
  patterns/cards/card-32.php
  patterns/cards/card-38.php
  patterns/cards/card-39.php
  patterns/cards/card-40.php
  patterns/cards/card-42.php
  patterns/cards/card-43.php
  patterns/cards/card-44.php
  patterns/cards/card-5.php
  patterns/cards/card-6.php
  patterns/cards/card-9.php
  patterns/cards/mobile-content-block.php
  patterns/content/comments.php
  patterns/footers/footer-default.php
  patterns/headers/header-default.php
  patterns/posts/post-hero.php
  patterns/posts/primary-category.php
Due: formatphp, lintphp

Fix category type
  patterns/posts/post-hero.php
Due: formatphp, lintphp

Update README for better readability
  README.md
Due: none

Update theme version
  .env
  README.md
  package.json
  readme.txt
  style.css
Due: formatstyles, lintstyles, other

Update packages
  package-lock.json
  package.json
Due: other

Update packages
  composer.json
  composer.lock
  package-lock.json
  package.json
Due: other

Update stylelint config
  eslint.config.js.backup
  stylelint.config.js
Due: formatjavascript, lintjavascript

Add block pattern flush function
  assets/scss/base/_index.scss
  assets/scss/base/options.scss
  inc/setup/theme-options.php
Due: formatphp, lintphp, formatstyles, lintstyles

Remove register block patterns - this is native now
  inc/hooks/register-block-patterns.php
Due: formatphp, lintphp

Flush object cache and transients after pattern registry flush
  assets/js/editor.js
  inc/hooks/register-block-pattern-categories.php
  inc/setup/theme-options.php
Due: formatphp, lintphp, formatjavascript, lintjavascript

Limit jq usage in cursorrules to non-CI environments
  scripts/test-update-cursorrules.sh
  scripts/update-cursorrules.sh
Due: none

Font Processing for Custom Fonts
  CONTRIBUTING.md
  inc/setup/dynamic-theme-json.php
  tools/font-processor.php
  tools/generate-theme-json.php
  tools/helpers.php
Due: formatphp, lintphp

Current version
  tools/font-detection.php
  tools/font-processor.php
  tools/generate-theme-json.php
  tools/helpers.php
Due: formatphp, lintphp

Updated to use WP_Block_Processor instead of parse_blocks() with fallback to parse_blocks() for <6.9
  inc/hooks/enqueue-third-party-block-stylesheet.php
Due: formatphp, lintphp

Utility functions for WP_Block_Processor usage
  inc/functions/block-processor-utils.php
Due: formatphp, lintphp

Block Showcase - Core functions for block discovery and rendering
  inc/functions/block-showcase.php
Due: formatphp, lintphp

Block Showcase - Registers [wdsbt_block_showcase] shortcode
  inc/hooks/block-showcase-shortcode.php
Due: formatphp, lintphp

Path conditions:
  formatphp: any of: *.php
  lintphp: any of: *.php
  formatstyles: any of: *.{css,scss}
  lintstyles: any of: *.{css,scss}
  formatjavascript: any of: *.{js,ts,tsx}
  lintjavascript: any of: *.{js,ts,tsx}
  other: any of: *.{yml,json,html}, but not: group_*.json
  templates-exclude: any of: templates/**
