Repository WebDevStudios/wds-bt: changes, and which lefthook commands are due for each by the changed paths.
All: formatphp, lintphp, formatstyles, lintstyles, formatjavascript, lintjavascript, other, templates-exclude

lefthook.yml:

pre-commit:
    commands:
        formatphp:
            glob: '*.php'
            run: composer run format {staged_files}
        lintphp:
            glob: '*.php'
            run: composer run lint {staged_files}
        formatstyles:
            glob: '*.{css,scss}'
            run: npx prettier {staged_files} --write
        lintstyles:
            glob: '*.{css,scss}'
            run: npx stylelint {staged_files} --fix
        formatjavascript:
            glob: '*.{js,ts,tsx}'
            run: npx prettier {staged_files} --write
        lintjavascript:
            glob: '*.{js,ts,tsx}'
            run: npx eslint {staged_files} --fix
        other:
            glob: '*.{yml,json,html}'
            exclude: 'group_*.json' # Exclude specific files
            run: |
                staged_files="$LEFTHOOK_STAGED_FILES"
                for file in $staged_files
                do
                  if [[ ! "$file" =~ ^templates/ ]]; then
                    npx prettier "$file" --write
                  fi
                done
            stage_fixed: true
            stage: pre-commit
        merge-conflict:
            run: echo "Resolve merge conflicts before committing"
        exit-status:
            run: echo "All pre-commit checks passed"
        templates-exclude:
            glob: 'templates/**' # Match all files and subdirectories within templates folder
            run: echo "Skipping templates folder"

pre-push:
    parallel: true
    commands:
        a11y:
            run: |
                if [ "$LEFTHOOK_EVENT" = "push" ]; then
                  git diff --staged --name-only | grep -E '\.(html|htm)$' | xargs npm run a11y
                fi
        lintstyles:
            run: |
                if [ "$LEFTHOOK_EVENT" = "push" ]; then
                  git diff --staged --name-only | grep -E '\.(css|scss)$' | xargs npx stylelint --fix
                fi
        lintjavascript:
            run: |
                if [ "$LEFTHOOK_EVENT" = "push" ]; then
                  git diff --staged --name-only | grep -E '\.(js|ts|tsx)$' | xargs npx eslint --fix
                fi
        lintphp:
            run: |
                if [ "$LEFTHOOK_EVENT" = "push" ]; then
                  git diff --staged --name-only | grep -E '\.php$' | xargs composer run lint
                fi
        exit-status:
            run: echo "All pre-push checks passed"

Make font sizes consistent
  theme.json
Due: other

Fix rtl button style override
  assets/scss/blocks/core/button.scss
Due: formatstyles, lintstyles

Adjust theme.json styles
  theme.json
Due: other

Fix header search and forms
  assets/images/icons/icon-arrow-down.svg
  assets/scss/blocks/core/search.scss
  assets/scss/components/_forms.scss
  assets/scss/layout/_header.scss
  package-lock.json
Due: formatstyles, lintstyles, other

Fix header search and forms
  assets/scss/blocks/core/search.scss
  assets/scss/components/_forms.scss
  assets/scss/layout/_header.scss
Due: formatstyles, lintstyles

Fix list alignment
  assets/scss/blocks/core/list.scss
Due: formatstyles, lintstyles

Update sup style
  assets/scss/base/_global.scss
Due: formatstyles, lintstyles

Enable site tagline and update themejson
  assets/js/block-filters/unregister-core-embed.js
  theme.json
Due: formatjavascript, lintjavascript, other

Remove extra spacing
  templates/page-blank.html
Due: other, templates-exclude

Lock patterns to just content
  patterns/footer-default.php
  patterns/header-default.php
Due: formatphp, lintphp

Remove extra spacing block from templates
  templates/page-no-title.html
  templates/page.html
  templates/search.html
Due: other, templates-exclude

Add button overrides for cover block dark background
  assets/scss/blocks/core/cover.scss
Due: formatstyles, lintstyles

Update a11y test
  .pa11yci
  a11y.cjs
  package-lock.json
  package.json
Due: other

Fix assertions action
  .github/workflows/assertions.yml
Due: other

Remove a11y github workflow, will do used locally instead
  .github/workflows/a11y.yml
  composer.lock
  package-lock.json
  package.json
Due: other

Update assertions workflow
  .github/workflows/assertions.yml
Due: other

Unset npm_config_prefix for assertions workflow
  .github/workflows/assertions.yml
Due: other

Wrap preinstall with a conditional to not run if in a CI env
  package-lock.json
  package.json
Due: other

initial commit for pattern version control
  inc/functions/class-wdsbtthemepatternmanager.php
  pattern-manager.js
  patterns.json
Due: formatphp, lintphp, formatjavascript, lintjavascript, other

event listener DOM timing shenanigans
  pattern-manager.js
Due: formatjavascript, lintjavascript

bye bye jQuery
  inc/functions/class-wdsbtthemepatternmanager.php
Due: formatphp, lintphp

Update readme and cleanup files
  .github/workflows/security.yml
  .markdownlintignore
  README.md
  composer.json
  package-lock.json
  package.json
  styles/dark.json
  wdsunittestdata.wordpress.xml
Due: other

Update PR Template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add missing license and update version to current release version
  .markdownlintignore
  LICENSE.md
  inc/setup/preload-scripts.php
  inc/setup/scripts.php
  package-lock.json
  package.json
  readme.txt
  style.css
Due: formatphp, lintphp, formatstyles, lintstyles, other

Edit composer pkg s/php_codesniffe/php_codesniffer
  composer.json
Due: other

Add blocks/custom folder update build process and readme
  README.md
  assets/scss/blocks/custom/_custom.scss
  assets/scss/index.scss
  readme.txt
  style.css
  webpack.config.js
Due: formatstyles, lintstyles, formatjavascript, lintjavascript

Update a11y script and readme section
  README.md
  a11y.cjs
  package-lock.json
  package.json
Due: other

Add acknowledgement section
  README.md
Due: none

Update preinstall script
  package.json
Due: other

Update README.md
  README.md
Due: none

Update a11y script
  a11y.cjs
  composer.lock
  package-lock.json
  package.json
Due: other

Update package lock
  package-lock.json
Due: other

Fix assertions and update README
  .github/workflows/assertions.yml
  README.md
Due: other

Remove extra webpack config
  webpack.prod.js
Due: formatjavascript, lintjavascript

Update composer and package and enqueue functions
  assets/blocks/.gitkeep
  composer.json
  composer.lock
  inc/hooks/enqueue-block-stylesheet.php
  inc/setup/scripts.php
  lefthook.yml
  package-lock.json
  package.json
Due: formatphp, lintphp, other

Fix webpack config build
  README.md
  assets/scss/blocks/custom/.gitkeep
  assets/scss/index.scss
  composer.lock
  inc/setup/scripts.php
  package-lock.json
  webpack.config.js
Due: formatphp, lintphp, formatstyles, lintstyles, formatjavascript, lintjavascript, other

WDSBT-20 - Prevent ACF json formatting
  .prettierignore
Due: none

WDSBT-20 - Add block template
  inc/block-template/README.md
  inc/block-template/block/edit.js.mustache
  inc/block-template/block/editor.scss.mustache
  inc/block-template/block/index.js.mustache
  inc/block-template/block/render.php.mustache
  inc/block-template/block/style.scss.mustache
  inc/block-template/block/view.js.mustache
  inc/block-template/index.js
  inc/block-template/plugin/$slug.php.mustache
  inc/block-template/plugin/.editorconfig.mustache
  inc/block-template/plugin/.eslintrc.mustache
  inc/block-template/plugin/.gitignore.mustache
  inc/block-template/plugin/readme.txt.mustache
Due: formatjavascript, lintjavascript

Run create-block-theme export
  theme.json
Due: other
