Repository WebDevStudios/wds-bt: changes, and which lefthook commands are due for each by the changed paths.
All: formatphp, lintphp, formatstyles, lintstyles, formatjavascript, lintjavascript, other, templates-exclude

lefthook.yml:

pre-commit:
    commands:
        formatphp:
            glob: '*.php'
            run: composer run-script phpcs-fix {staged_files}
        lintphp:
            glob: '*.php'
            run: composer run-script phpcs {staged_files}
        formatstyles:
            glob: '*.{css,scss}'
            run: npx prettier {staged_files} --write
        lintstyles:
            glob: '*.{css,scss}'
            run: npx stylelint {staged_files} --fix
        formatjavascript:
            glob: '*.{js,ts,tsx}'
            run: npx prettier {staged_files} --write
        lintjavascript:
            glob: '*.{js,ts,tsx}'
            run: npx eslint {staged_files} --fix
        other:
            glob: '*.{yml,json,html}'
            exclude: 'group_*.json' # Exclude specific files
            run: |
                staged_files="$LEFTHOOK_STAGED_FILES"
                for file in $staged_files
                do
                  if [[ ! "$file" =~ ^templates/ ]]; then
                    npx prettier "$file" --write
                  fi
                done
            stage_fixed: true
            stage: pre-commit
        merge-conflict:
            run: echo "Resolve merge conflicts before committing"
        exit-status:
            run: echo "All pre-commit checks passed"
        templates-exclude:
            glob: 'templates/**' # Match all files and subdirectories within templates folder
            run: echo "Skipping templates folder"

WDSBT-23 - Fix themejson for v3
  theme.json
Due: other

Remove template lock on header and footer
  patterns/footer-default.php
  patterns/header-default.php
Due: formatphp, lintphp

Update workflow to only run on pull requests
  .github/workflows/assertions.yml
  .github/workflows/security.yml
Due: other

WDSBT-23 - Update packages and README
  README.md
  package-lock.json
  package.json
Due: other

WDSBT-23 - Update ignored files
  .gitignore
  .prettierignore
  .stylelintignore
  phpcs.xml.dist
Due: none

WDSBT-23 - Minor text update and fix to webpack paths
  assets/scss/blocks/third-party/_index.scss
  webpack.config.js
Due: formatstyles, lintstyles, formatjavascript, lintjavascript

WDSBT-23 - Update composer files
  composer.json
  composer.lock
Due: other

WDSBT-23 - Update templates for single and archive
  templates/archive.html
  templates/single.html
Due: other, templates-exclude

WDSBT-23 - Show related content across same categories
  .stylelintignore
  inc/functions/related-posts-query.php
  inc/hooks/register-block-patterns.php
Due: formatphp, lintphp

Add back to top branch files to release
  inc/functions/back-to-top.php
  patterns/footer-default.php
  patterns/header-default.php
Due: formatphp, lintphp

Add back missing styles for button size variation
  assets/scss/blocks/core/button.scss
Due: formatstyles, lintstyles

WDSBT-23 - Clean up posts blocks
  assets/scss/blocks/core/latest-posts.scss
  assets/scss/blocks/core/post-terms.scss
  assets/scss/blocks/core/query.scss
  assets/scss/patterns/related-posts.scss
  inc/hooks/register-block-patterns.php
  theme.json
Due: formatphp, lintphp, formatstyles, lintstyles, other

WDSBT-23 - Update npm packages
  .nvmrc
  composer.json
  package-lock.json
  package.json
Due: other

WDSBT-23 - Add versioning script and action on merge to main
  .github/workflows/version-update.yml
  composer.json
  composer.lock
  package-lock.json
  package.json
  style.css
  updateVersion.js
Due: formatstyles, lintstyles, formatjavascript, lintjavascript, other

Update README
  README.md
Due: none

Theme cleanup
  assets/scss/patterns/_index.scss
  assets/scss/patterns/related-posts.scss
  inc/functions/related-posts-query.php
  inc/hooks/register-block-patterns.php
  templates/single.html
Due: formatphp, lintphp, formatstyles, lintstyles, other, templates-exclude

#30 Remove arechive title prefix
  inc/hooks/remove-archive-title-prefix.php
Due: formatphp, lintphp

Add .env for version updates
  .env
  .gitignore
Due: none

Update version-update.yml
  .github/workflows/version-update.yml
Due: other

Updates header-default group tagname to div to match markup
  patterns/header-default.php
Due: formatphp, lintphp

Add cache buster script
  .github/workflows/assertions.yml
  .github/workflows/security.yml
  .github/workflows/version-update.yml
  babel.config.json
  composer.json
  composer.lock
  inc/setup/scripts.php
  inc/setup/style-script-version.php
  package-lock.json
  package.json
  updateVersion.js
Due: formatphp, lintphp, formatjavascript, lintjavascript, other

Fix script name
  inc/setup/scripts.php
Due: formatphp, lintphp

Remove mistakenly added files
  .github/workflows/assertions.yml
  .github/workflows/security.yml
  babel.config.json
  composer.json
  composer.lock
  package-lock.json
  package.json
Due: other

Add versioning script
  inc/setup/scripts.php
  inc/setup/style-script-version.php
Due: formatphp, lintphp

Update readme and remove version update script
  .github/workflows/version-update.yml
  README.md
  package.json
Due: other

Update block template
  inc/block-template/README.md
  inc/block-template/block/edit.js.mustache
  inc/block-template/block/index.js.mustache
  inc/block-template/block/render.php.mustache
  inc/block-template/block/style.scss.mustache
  inc/block-template/block/view.js.mustache
  inc/block-template/index.js
  webpack.config.js
Due: formatjavascript, lintjavascript

Cleanup desktop menu
  assets/scss/blocks/core/navigation.scss
Due: formatstyles, lintstyles

Update responsive mixin with range
  README.md
  assets/scss/abstracts/responsive-mixins.scss
Due: formatstyles, lintstyles

Fixes to the menu style and header markup
  assets/scss/blocks/core/navigation.scss
  patterns/header-default.php
Due: formatphp, lintphp, formatstyles, lintstyles

Fixes to the menu style and header markup
  assets/scss/blocks/core/navigation.scss
Due: formatstyles, lintstyles

Add svg markup support for log, additional fixes to header style and themejson custom colors
  assets/js/global/header.js
  assets/scss/template-parts/header.scss
  inc/functions/custom-logo-svg.php
  patterns/header-default.php
  theme.json
Due: formatphp, lintphp, formatstyles, lintstyles, formatjavascript, lintjavascript, other

Add svg markup support for log, additional fixes to header style and themejson custom colors
  assets/scss/template-parts/header.scss
Due: formatstyles, lintstyles

Update file block and mobile navigation styles
  assets/scss/blocks/core/file.scss
  assets/scss/blocks/core/navigation.scss
  theme.json
Due: formatstyles, lintstyles, other

Update file block and mobile navigation styles
  assets/scss/blocks/core/navigation.scss
Due: formatstyles, lintstyles
