Repository WebDevStudios/wds-bt: changes, and which lefthook commands are due for each by the changed paths.
All: formatphp, lintphp, formatstyles, lintstyles, formatjavascript, lintjavascript, other, templates-exclude

formatphp:
  run: ./vendor/bin/phpcbf {staged_files}

lintphp:
  run: ./vendor/bin/phpcs {staged_files}

formatstyles:
  run: npx prettier {staged_files} --write

lintstyles:
  run: npx stylelint {staged_files} --fix

formatjavascript:
  run: npx prettier {staged_files} --write

lintjavascript:
  run: npx eslint {staged_files} --fix

other:
  run: "staged_files=\"$LEFTHOOK_STAGED_FILES\"\nfor file in $staged_files\ndo\n  if [[ ! \"$file\" =~ ^templates/ ]]; then\n    npx prettier \"$file\" --write\n  fi\ndone\n"
  stage_fixed: true
  stage: pre-commit

templates-exclude:
  run: echo "Skipping templates folder"

Check for files that are staged on pre-push
  lefthook.yml
Due: other

Fix phpcs and phpbf commands
  lefthook.yml
Due: other

Update node version
  .nvmrc
  package.json
Due: other

Update workflow and fix paths and scripts
  .github/workflows/assertions.yml
  .github/workflows/security.yml
  .gitignore
  .stylelintignore
  composer.json
  composer.lock
  lefthook.yml
  package-lock.json
  package.json
  phpcs.xml.dist
Due: other

Update README and lefthook
  README.md
  composer.json
  lefthook.yml
Due: other

Update vscode settings
  .vscode/extensions.json
  .vscode/settings.json
Due: other

Update spacing to be more consistent
  theme.json
Due: other

Add new setup command for project cleanup
  README.md
  package.json
Due: other

Update theme.json version
  theme.json
Due: other

Add option to dereigiser core blocks
  assets/js/global/index.js
  assets/js/global/unregistered-blocks-list.js
  inc/hooks/unregister-block-variations.php
Due: formatphp, lintphp, formatjavascript, lintjavascript

Deregister youtube
  assets/js/global/unregistered-blocks-list.js
Due: formatjavascript, lintjavascript

Add function to unregister blocks and block variations
  assets/js/global/index.js
  assets/js/global/unregister-core-embed.js
  inc/hooks/unregister-block-variations.php
Due: formatphp, lintphp, formatjavascript, lintjavascript

Fix folder structure, add to README, fix webpack path
  README.md
  assets/js/block-filters/index.js
  assets/js/block-filters/unregister-core-embed.js
  assets/js/block-variations/index.js
  assets/js/global/index.js
  inc/hooks/unregister-block-variations.php
  webpack.config.js
Due: formatphp, lintphp, formatjavascript, lintjavascript

Fix enqueue unregister block path
  inc/hooks/unregister-block-variations.php
Due: formatphp, lintphp

Remove unused custom hooks
  inc/hooks/add-menu-home-link-block.php
  inc/hooks/add-menu-search-block.php
Due: formatphp, lintphp

Remove padding on footer
  assets/scss/layout/_footer.scss
Due: formatstyles, lintstyles

Enable site description and latest comments blocks
  assets/js/block-filters/unregister-core-embed.js
Due: formatjavascript, lintjavascript

Remove footer top margin
  assets/scss/layout/_footer.scss
Due: formatstyles, lintstyles

Add WooCommerce support
  inc/setup/setup.php
Due: formatphp, lintphp

Fix post meta spacing
  templates/single.html
Due: other, templates-exclude

Fix table null error
  assets/js/global/table.js
Due: formatjavascript, lintjavascript

Clean composer.json
  composer.json
  composer.lock
Due: other

Update package.json
  package-lock.json
  package.json
Due: other

Update and rewrite webpack.config
  .pa11yci
  .stylelintrc.json
  .vscode/settings.json
  inc/hooks/enqueue-block-stylesheet.php
  inc/setup/preload-scripts.php
  lefthook.yml
  webpack.config.js
Due: formatphp, lintphp, formatjavascript, lintjavascript, other

change to remove prettier
  .stylelintrc.json
Due: other

Fix stylelint issues
  assets/scss/abstracts/_mobile-only-mixins.scss
  assets/scss/abstracts/_utility.scss
  assets/scss/blocks/core/cover.scss
  assets/scss/blocks/core/group.scss
  assets/scss/blocks/core/navigation.scss
  assets/scss/components/_components.scss
  assets/scss/layout/_layout.scss
  assets/scss/pages/_404.scss
  assets/scss/pages/_pages.scss
Due: formatstyles, lintstyles

Fix stylelint issues
  assets/scss/blocks/core/group.scss
  assets/scss/blocks/core/navigation.scss
Due: formatstyles, lintstyles

Fix errors
  package-lock.json
  package.json
  webpack.prod.js
Due: formatjavascript, lintjavascript, other

Fix workflow
  .github/workflows/assertions.yml
Due: other

Update packages and fix paths
  composer.lock
  inc/hooks/enqueue-block-stylesheet.php
  inc/setup/preload-scripts.php
  package-lock.json
  package.json
  webpack.config.js
Due: formatphp, lintphp, formatjavascript, lintjavascript, other

Fix eslint issues
  .eslintrc.js
  package-lock.json
  package.json
  webpack.config.js
Due: formatjavascript, lintjavascript, other

Adjust max assets size and fix errors
  assets/js/block-filters/unregister-core-embed.js
  inc/hooks/unregister-block-variations.php
  package-lock.json
  package.json
  webpack.config.js
Due: formatphp, lintphp, formatjavascript, lintjavascript, other

Update packages
  package-lock.json
  package.json
Due: other

Update lineheight to be consistent all throughout
  theme.json
Due: other

Adjust font sizing
  theme.json
Due: other

Replace font size vars
  assets/scss/base/_global.scss
  assets/scss/base/_pagination.scss
  assets/scss/blocks/core/button.scss
  assets/scss/blocks/core/calendar.scss
  assets/scss/blocks/core/comments.scss
  assets/scss/blocks/core/file.scss
  assets/scss/blocks/core/gallery.scss
  assets/scss/blocks/core/latest-comments.scss
  assets/scss/blocks/core/latest-posts.scss
  assets/scss/blocks/core/page-list.scss
  assets/scss/blocks/core/post-author.scss
  assets/scss/blocks/core/pullquote.scss
  assets/scss/blocks/core/query.scss
  assets/scss/blocks/core/quote.scss
  assets/scss/blocks/core/verse.scss
  assets/scss/components/_forms.scss
  assets/scss/pages/_search.scss
Due: formatstyles, lintstyles

Fix js error
  assets/js/global/index.js
  assets/js/global/unregistered-blocks-list.js
  package-lock.json
Due: formatjavascript, lintjavascript, other

Fix webpack issue
  assets/scss/blocks/core/button.scss
  webpack.config.js
Due: formatstyles, lintstyles, formatjavascript, lintjavascript

Path conditions:
  formatphp: any of: *.php
  lintphp: any of: *.php
  formatstyles: any of: *.{css,scss}
  lintstyles: any of: *.{css,scss}
  formatjavascript: any of: *.{js,ts,tsx}
  lintjavascript: any of: *.{js,ts,tsx}
  other: any of: *.{yml,json,html}, but not: group_*.json
  templates-exclude: any of: templates/**
