Repository WebDevStudios/wds-bt: changes, and which lefthook commands are due for each by the changed paths.
All: formatphp, lintphp, formatstyles, lintstyles, formatjavascript, lintjavascript, other, templates-exclude

lefthook.yml:

pre-commit:
    parallel: true
    commands:
        formatphp:
            glob: '*.php'
            run: composer run-script phpcs-fix {staged_files}
            stage_fixed: true
        lintphp:
            glob: '*.php'
            run: composer run-script phpcs {staged_files}

        formatstyles:
            glob: '*.{css,scss}'
            run: npx prettier --write {staged_files}
            stage_fixed: true
        lintstyles:
            glob: '*.{css,scss}'
            run: npx stylelint --fix {staged_files}
            stage_fixed: true

        formatjavascript:
            glob: '*.{js,ts,tsx}'
            run: npx prettier --write {staged_files}
            stage_fixed: true
        lintjavascript:
            glob: '*.{js,ts,tsx}'
            run: npx eslint --fix {staged_files}
            stage_fixed: true

        other:
            glob: '*.{yml,json,html}'
            exclude: 'group_*.json' # Exclude specific files
            run: |
                staged_files="$LEFTHOOK_STAGED_FILES"
                for file in $staged_files
                do
                  if [[ ! "$file" =~ ^templates/ ]]; then
                    npx prettier --write "$file"
                  fi
                done
            stage_fixed: true

        merge-conflict:
            run: |
                CONFLICT_FILES=$(git diff --cached --name-only --diff-filter=U)
                if [ ! -z "$CONFLICT_FILES" ]; then
                    echo "ðŸš¨ Merge conflicts detected in the following files:"
                    echo "$CONFLICT_FILES"
                    exit 1
                fi

        exit-status:
            run: echo "âœ… All pre-commit checks passed!"

        templates-exclude:
            glob: 'templates/**' # Skip all files in templates folder
            run: echo "Skipping templates folder"

Remove hardcoded font patterns and simplify parsing.
  tools/font-detection.php
Due: formatphp, lintphp

Remove hardcoded font patterns and simplify parsing.
  tools/font-generator.php
Due: formatphp, lintphp

Use folder-based slugs and remove hardcoded font patterns.
  tools/font-processor.php
Due: formatphp, lintphp

Use folder-based slugs and fix font grouping.
  tools/generate-theme-json.php
Due: formatphp, lintphp

Fix linter errors
  inc/setup/dynamic-theme-json.php
Due: formatphp, lintphp

Update packages
  composer.lock
  package-lock.json
  package.json
Due: other

Update node version
  package-lock.json
  package.json
Due: other

Suppress PHP extension warnings only in local dev
  composer.json
  composer.lock
  scripts/get-php-flags.sh
  scripts/run-phpcbf.sh
  scripts/run-phpcs.sh
Due: other

Add enqueue for template-specific styles
  assets/scss/_index.scss
  assets/scss/templates/404.scss
  inc/setup/template-styles.php
  webpack.config.js
Due: formatphp, lintphp, formatstyles, lintstyles, formatjavascript, lintjavascript

use filemtime for automatic style/script cache versioning
  inc/hooks/enqueue-block-stylesheet.php
  inc/hooks/enqueue-third-party-block-stylesheet.php
  inc/setup/scripts.php
Due: formatphp, lintphp

Fix postinstall script with lefthook
  package-lock.json
  package.json
Due: other

Show cache version in build output
  tools/generate-theme-json.php
Due: formatphp, lintphp

Fix linter errors
  inc/performance/dominant-color-images.php
  inc/performance/webp-uploads.php
Due: formatphp, lintphp

Refactor to use dynamic style enqueue and add CPT support.
  inc/setup/template-styles.php
Due: formatphp, lintphp

Add lighthouse script to run locally
  .gitignore
  package.json
  scripts/README.md
  scripts/run-lighthouse.cjs
Due: other

Update README
  README.md
Due: none

Cleanup chore
  README.md
  assets/js/block-filters/buttons.js
  assets/js/block-variations/index.js
  assets/js/editor.js
  assets/js/global/table.js
  assets/js/templates/index.js
  assets/scss/abstracts/mobile-only-mixins.scss
  assets/scss/abstracts/responsive-mixins.scss
  assets/scss/base/options.scss
  assets/scss/blocks/core/query.scss
  assets/scss/patterns/_index.scss
  assets/scss/templates/block-showcase.scss
  inc/hooks/enqueue-block-stylesheet.php
  inc/performance/dominant-color-images.php
  inc/performance/webp-uploads.php
  tools/font-detection.php
  tools/font-generator.php
  tools/font-processor.php
  tools/generate-theme-json.php
  updateVersion.js
  webpack.config.js
Due: formatphp, lintphp, formatstyles, lintstyles, formatjavascript, lintjavascript

Strict linting, no-verify policy, document fix-on-commit flow
  CONTRIBUTING.md
  README.md
  composer.json
  lefthook.yml
  package.json
  scripts/run-phpcs.sh
Due: other

Move full docs to docs/, slim README to overview with links
  README.md
  docs/README.md
  docs/accessibility-and-quality.md
  docs/block-showcase.md
  docs/customizations.md
  docs/development.md
  docs/fonts.md
  docs/linting-and-hooks.md
  docs/performance.md
  docs/version-management.md
Due: none

Update locked files
  composer.lock
  package-lock.json
Due: other

Fix case sensitive colliding paths
  assets/images/Placeholder.jpg
  assets/images/placeholder.jpg
Due: none

Updated tested up to from 6.4 to 6.9
  readme.txt
Due: none

Remove search input width
  templates/search.html
Due: other, templates-exclude

Add enqueue fallback and block registration fix
  inc/hooks/enqueue-block-stylesheet.php
  inc/setup/scripts.php
Due: formatphp, lintphp

Fix phpcs errors.
  inc/setup/scripts.php
Due: formatphp, lintphp

Update Node.js version to v25.6.0
  .nvmrc
Due: none

WSDEN-5 - Remove BT wrapper scripts
  README.md
  assets/scss/templates/block-showcase.scss
  composer.lock
  docs/accessibility-and-quality.md
  docs/development.md
  docs/linting-and-hooks.md
  inc/hooks/block-showcase-shortcode.php
  package-lock.json
  package.json
  scripts/get-php-flags.sh
  scripts/get-php.js
  scripts/get-php.sh
  scripts/run-phpcbf.sh
  scripts/run-phpcs.sh
  webpack.config.js
Due: formatphp, lintphp, formatstyles, lintstyles, formatjavascript, lintjavascript, other

WSDEN-5 - add DevContainer for theme-only workflow
  .devcontainer/README.md
  .devcontainer/devcontainer.json
Due: other

WSDEN-5 - Only run cursor rules locally
  package.json
  scripts/run-lighthouse.cjs
  scripts/update-cursorrules.sh
Due: other

WDSEN-5 - Fix block template
  inc/block-template/block/edit.js.mustache
  inc/block-template/block/index.js.mustache
  inc/block-template/block/view.js.mustache
Due: none

WDSEN-5 - Version update
  .env
  README.md
  package.json
  readme.txt
  style.css
Due: formatstyles, lintstyles, other

fixed dependencies and swapped from imagemin->sharp
  .npmrc
  package-lock.json
  package.json
  webpack.config.js
Due: formatjavascript, lintjavascript, other

Fix PHPCS errors
  inc/performance/webp-uploads.php
Due: formatphp, lintphp

WDSEN-51 - Update packages and remove .nvmrc
  .nvmrc
  composer.lock
  docs/development.md
  inc/functions/block-showcase.php
  inc/hooks/block-showcase-shortcode.php
  package-lock.json
  package.json
  webpack.config.js
Due: formatphp, lintphp, formatjavascript, lintjavascript, other

fix(build): resolve font and image copy paths from webpack config dir
  webpack.config.js
Due: formatjavascript, lintjavascript

chore(scripts): drop npm run fonts from start
  package.json
Due: other

docs(fonts): document webpack copy vs optional PHP font tools
  docs/fonts.md
Due: none

WDSEN=56 - Normalize font output location and update script
  assets/scss/blocks/core/footnotes.scss
  assets/scss/blocks/core/list.scss
  assets/scss/blocks/core/page-list.scss
  assets/scss/editor.scss
Due: formatstyles, lintstyles

WDSEN-56 - Fix list styles
  assets/scss/blocks/core/list.scss
  assets/scss/blocks/core/page-list.scss
Due: formatstyles, lintstyles
