Repository WebDevStudios/wds-bt: changes, and which lefthook commands are due for each by the changed paths.
All: formatphp, lintphp, formatstyles, lintstyles, formatjavascript, lintjavascript, other, templates-exclude

formatphp:
  run: composer run-script phpcs-fix {staged_files}

lintphp:
  run: composer run-script phpcs {staged_files}

formatstyles:
  run: npx prettier {staged_files} --write

lintstyles:
  run: npx stylelint {staged_files} --fix

formatjavascript:
  run: npx prettier {staged_files} --write

lintjavascript:
  run: npx eslint {staged_files} --fix

other:
  run: "staged_files=\"$LEFTHOOK_STAGED_FILES\"\nfor file in $staged_files\ndo\n  if [[ ! \"$file\" =~ ^templates/ ]]; then\n    npx prettier \"$file\" --write\n  fi\ndone\n"
  stage_fixed: true
  stage: pre-commit

templates-exclude:
  run: echo "Skipping templates folder"

WDSBT-261 - optimize webpack config for performance and cleaner terminal output
  webpack.config.js
Due: formatjavascript, lintjavascript

WDSBT-262 theme.json changes for card variation 5
  theme.json
Due: other

WDSBT-262 Added pattern template
  assets/images/Placeholder.jpg
  patterns/card-5.php
Due: formatphp, lintphp

WDSBT-262 Updated pattern file
  patterns/card-5.php
Due: formatphp, lintphp

WDSBT-262 update font
  patterns/card-5.php
Due: formatphp, lintphp

WDSBT-262 Adds alpha black 50 for use with cover block, removes top margin from paragraph block
  theme.json
Due: other

WDSBT-262 Adds pattern for card 6
  patterns/card-5.php
  patterns/card-6.php
Due: formatphp, lintphp

Locks the cover from adding children blocks in card 5
  patterns/card-5.php
Due: formatphp, lintphp

Use image block instead of cover for card 5
  patterns/card-5.php
Due: formatphp, lintphp

WDSBT-264 Pattern for card 9
  patterns/card-9.php
Due: formatphp, lintphp

WDSBT-265 Card 11 pattern
  assets/images/1ab5318c0d90fc029987149e13027dca849d9523.png
  patterns/card-11.php
Due: formatphp, lintphp

WDSBT-267 Pattern for card #18
  patterns/card-18.php
Due: formatphp, lintphp

WDSBT-259 cards 3, 19
  assets/images/placeholder.jpg
  inc/hooks/register-block-pattern-categories.php
  package-lock.json
  patterns/card-19.php
  patterns/card-3.php
  theme.json
Due: formatphp, lintphp, other

WDSBT-269 Add custom aspect ratio for card 20
  theme.json
Due: other

WDSBT-69 Add pattern for card 20
  patterns/card-20.php
Due: formatphp, lintphp

WDSBT-269 Adds card 20 pattern
  assets/images/placeholder-890 × 410.jpg
  patterns/card-20.php
Due: formatphp, lintphp

WDSBT-270 adds card 21 pattern
  assets/images/placeholder-700x474-1.jpg
  patterns/card-21.php
Due: formatphp, lintphp

car 22
  assets/images/placeholder-2.jpg
  patterns/card-22.php
  patterns/card-3.php
  theme.json
Due: formatphp, lintphp, other

Card #29
  assets/scss/blocks/core/cover.scss
  patterns/card-29.php
Due: formatphp, lintphp, formatstyles, lintstyles

Card #31
  patterns/card-31.php
Due: formatphp, lintphp

Card #32
  assets/scss/blocks/core/cover.scss
  patterns/card-32.php
Due: formatphp, lintphp, formatstyles, lintstyles

add Card #30
  assets/images/placeholder-350x510.png
  assets/scss/blocks/core/cover.scss
  patterns/card-30.php
Due: formatphp, lintphp, formatstyles, lintstyles

Localization
  patterns/card-30.php
Due: formatphp, lintphp

Card #38
  assets/images/avatar-40x40.png
  assets/images/placeholder-318x318.png
  patterns/card-38.php
Due: formatphp, lintphp

WDSBT-272 Register custom icons for use with icon block
  assets/js/global/custom-icons.js
  inc/hooks/register-custom-icons.php
Due: formatphp, lintphp, formatjavascript, lintjavascript

WDSBT-267 Pattern for card 27
  patterns/card-27.php
Due: formatphp, lintphp

Update card 5 to use post title and featured image
  patterns/card-5.php
  theme.json
Due: formatphp, lintphp, other

Updates card 11 to use post title and featured image
  patterns/card-11.php
Due: formatphp, lintphp

Updated card 20 to use post title and featured image
  patterns/card-20.php
Due: formatphp, lintphp

Update card 21
  patterns/card-21.php
Due: formatphp, lintphp

WDSBT-272 Update card 27
  patterns/card-27.php
Due: formatphp, lintphp

WDSBT-281 Card #43 pattern
  patterns/card-43.php
Due: formatphp, lintphp

Card #39
  assets/images/avatar-49x49.png
  assets/images/placeholder-230x121.png
  patterns/card-39.php
Due: formatphp, lintphp

WDSBT-282 Pattern for card 44
  patterns/card-44.php
Due: formatphp, lintphp

Fix image path
  patterns/card-30.php
  patterns/card-38.php
  patterns/card-39.php
Due: formatphp, lintphp

Adds Card 39 title margin
  patterns/card-39.php
Due: formatphp, lintphp

Update locked file
  composer.lock
  package-lock.json
Due: other

WDSBT-280 Card #42
  assets/js/global/custom-icons.js
  patterns/card-27.php
  patterns/card-42.php
  patterns/card-44.php
  theme.json
Due: formatphp, lintphp, formatjavascript, lintjavascript, other

WDSBT-283 Adds "Mobile Content Block" card
  patterns/mobile-content-block.php
Due: formatphp, lintphp

Path conditions:
  formatphp: any of: *.php
  lintphp: any of: *.php
  formatstyles: any of: *.{css,scss}
  lintstyles: any of: *.{css,scss}
  formatjavascript: any of: *.{js,ts,tsx}
  lintjavascript: any of: *.{js,ts,tsx}
  other: any of: *.{yml,json,html}, but not: group_*.json
  templates-exclude: any of: templates/**
