Repository WebDevStudios/wds-bt: changes, and which lefthook commands are due for each by the changed paths.
All: formatphp, lintphp, formatstyles, lintstyles, formatjavascript, lintjavascript, other, templates-exclude

lefthook.yml:

pre-commit:
    commands:
        formatphp:
            glob: '*.php'
            run: composer run-script phpcs-fix {staged_files}
        lintphp:
            glob: '*.php'
            run: composer run-script phpcs {staged_files}
        formatstyles:
            glob: '*.{css,scss}'
            run: npx prettier {staged_files} --write
        lintstyles:
            glob: '*.{css,scss}'
            run: npx stylelint {staged_files} --fix
        formatjavascript:
            glob: '*.{js,ts,tsx}'
            run: npx prettier {staged_files} --write
        lintjavascript:
            glob: '*.{js,ts,tsx}'
            run: npx eslint {staged_files} --fix
        other:
            glob: '*.{yml,json,html}'
            exclude: 'group_*.json' # Exclude specific files
            run: |
                staged_files="$LEFTHOOK_STAGED_FILES"
                for file in $staged_files
                do
                  if [[ ! "$file" =~ ^templates/ ]]; then
                    npx prettier "$file" --write
                  fi
                done
            stage_fixed: true
            stage: pre-commit
        merge-conflict:
            run: echo "Resolve merge conflicts before committing"
        exit-status:
            run: echo "All pre-commit checks passed"
        templates-exclude:
            glob: 'templates/**' # Match all files and subdirectories within templates folder
            run: echo "Skipping templates folder"

WDSBT-227 - Refactor webpack to resolve configurations and optimize paths
  webpack.config.js
Due: formatjavascript, lintjavascript

WDSBT-227 - Fix sass @import deprecated functions
  assets/scss/_index.scss
  assets/scss/abstracts/_index.scss
  assets/scss/abstracts/mobile-only-mixins.scss
  assets/scss/abstracts/utility.scss
  assets/scss/base/_index.scss
  assets/scss/blocks/core/button.scss
  assets/scss/blocks/core/comments.scss
  assets/scss/blocks/core/file.scss
  assets/scss/blocks/core/latest-posts.scss
  assets/scss/blocks/core/list.scss
  assets/scss/blocks/core/navigation.scss
  assets/scss/blocks/core/query.scss
  assets/scss/blocks/core/search.scss
  assets/scss/blocks/core/table.scss
  assets/scss/template-parts/_index.scss
  assets/scss/template-parts/header.scss
  assets/scss/templates/404.scss
  assets/scss/templates/_index.scss
Due: formatstyles, lintstyles

WDSBT-227 - Cleanup unregister core blocks function
  assets/js/block-filters/unregister-core-blocks.js
Due: formatjavascript, lintjavascript

WDSBT-227 - Update register/unregister blocks functionality
  assets/js/block-filters/buttons.js
  assets/js/block-filters/index.js
  assets/js/block-filters/unregister-core-blocks.js
  assets/js/editor.js
  inc/hooks/enqueue-block-stylesheet.php
  inc/hooks/register-block-filters.php
  inc/hooks/unregister-block-variations.php
  package-lock.json
  package.json
  webpack.config.js
Due: formatphp, lintphp, formatjavascript, lintjavascript, other

WDSBT-227 - Fix paths
  assets/js/block-filters/buttons.js
  assets/js/editor.js
  assets/scss/blocks/core/button.scss
  theme.json
  webpack.config.js
Due: formatstyles, lintstyles, formatjavascript, lintjavascript, other

WDSBT-227 - Update configs and paths
  inc/block-template/block/render.php.mustache
  inc/block-template/index.js
  inc/hooks/register-block-filters.php
  package-lock.json
  package.json
  webpack.config.js
Due: formatphp, lintphp, formatjavascript, lintjavascript, other

WDSBT-227 - Update workflows
  .github/workflows/assertions.yml
  .github/workflows/jira-integration.yml
  .github/workflows/security.yml
Due: other

WDSBT-227 - Update stylelint, remove deprecated rules
  .stylelintrc.json
Due: other

WDSBT-227 - Update packages and scripts
  babel.config.json
  composer.json
  composer.lock
  package-lock.json
  package.json
Due: other

WDSBT-227 - Themejson update
  theme.json
Due: other

WDSBT-227 - Update styles to fix linters with stylelint 16
  .stylelintrc.json
  assets/scss/abstracts/responsive-mixins.scss
  assets/scss/abstracts/utility.scss
  assets/scss/base/global.scss
  assets/scss/blocks/core/audio.scss
  assets/scss/blocks/core/button.scss
  assets/scss/blocks/core/calendar.scss
  assets/scss/blocks/core/comments.scss
  assets/scss/blocks/core/cover.scss
  assets/scss/blocks/core/file.scss
  assets/scss/blocks/core/footnotes.scss
  assets/scss/blocks/core/gallery.scss
  assets/scss/blocks/core/group.scss
  assets/scss/blocks/core/latest-comments.scss
  assets/scss/blocks/core/latest-posts.scss
  assets/scss/blocks/core/list.scss
  assets/scss/blocks/core/navigation.scss
  assets/scss/blocks/core/post-author.scss
  assets/scss/blocks/core/post-comments-form.scss
  assets/scss/blocks/core/post-navigation-link.scss
  assets/scss/blocks/core/post-terms.scss
  assets/scss/blocks/core/pullquote.scss
  assets/scss/blocks/core/query-pagination.scss
  assets/scss/blocks/core/query.scss
  assets/scss/blocks/core/quote.scss
  assets/scss/blocks/core/search.scss
  assets/scss/blocks/core/separator.scss
  assets/scss/blocks/core/social-links.scss
  assets/scss/blocks/core/table.scss
  assets/scss/blocks/core/tag-cloud.scss
  assets/scss/blocks/core/video.scss
  assets/scss/template-parts/header.scss
  assets/scss/templates/404.scss
  assets/scss/templates/archive.scss
  assets/scss/templates/search.scss
Due: formatstyles, lintstyles, other

WDSBT-227 - Add image optimizer on build
  package-lock.json
  package.json
  webpack.config.js
Due: formatjavascript, lintjavascript, other

WDSBT-227 - Remove unused package - image-webpack-loader
  package-lock.json
  package.json
Due: other

WDSBT-227 - Add option to enqueue thirdparty block styles and only show when used
  assets/scss/blocks/third-party/.gitkeep
  assets/scss/blocks/third-party/_index.scss
  inc/hooks/enqueue-third-party-block-stylesheet.php
  webpack.config.js
Due: formatphp, lintphp, formatstyles, lintstyles, formatjavascript, lintjavascript

WDSBT-227 - Add option to enqueue thirdparty block styles and only show when used
  inc/hooks/enqueue-third-party-block-stylesheet.php
Due: formatphp, lintphp

WDSBT-227 - Add functionality to load style overrides for third party blocks and load it only if used.
  inc/hooks/enqueue-third-party-block-stylesheet.php
Due: formatphp, lintphp

Update packages
  .env
  assets/blocks/.gitkeep
  composer.json
  composer.lock
  package-lock.json
  package.json
  webpack.config.js
Due: formatjavascript, lintjavascript, other

WDSBT-255 - fix: update pa11y script to use spawn for capturing detailed output
  a11y.cjs
  package-lock.json
  package.json
Due: other

Add theme version update script, fix conflicts, update packages
  .env
  .nvmrc
  composer.json
  composer.lock
  package-lock.json
  package.json
  style.css
  updateVersion.js
  webpack.config.js
Due: formatstyles, lintstyles, formatjavascript, lintjavascript, other

Ensure all staged files are linted before commit using Lefthook pre-commit hook
  lefthook.yml
  package-lock.json
  package.json
Due: other

Re-add blocks folder
  assets/blocks/.gitkeep
Due: none

Add custom vscode settings
  .vscode/settings.json
Due: other

Remove script versioning in favor of native cache busting
  inc/setup/style-script-version.php
Due: formatphp, lintphp

Update lock files
  composer.lock
  package-lock.json
Due: other

Add script to automatically update theme version (style,composer,packages,readme) from .env
  updateVersion.js
Due: formatjavascript, lintjavascript

Update README
  README.md
Due: none

1.2.0
  package-lock.json
  package.json
Due: other

Fix style.css not loading in site editor
  assets/scss/editor.scss
  assets/scss/template-parts/footer.scss
  patterns/footer-default.php
Due: formatphp, lintphp, formatstyles, lintstyles

Add missing slug for search and replace
  phpcs.xml.dist
Due: none

WDSBT-241 - Add cards pattern category and fixes to the version update script
  composer.json
  composer.lock
  inc/hooks/register-block-pattern-categories.php
  lefthook.yml
  package-lock.json
  package.json
  readme.txt
  updateVersion.js
Due: formatphp, lintphp, formatjavascript, lintjavascript, other

Update packages and removed deprecated ones
  composer.json
  composer.lock
  package-lock.json
  package.json
Due: other

Update build process
  .eslintrc.js
  assets/js/block-filters/buttons.js
  assets/js/block-filters/index.js
  composer.json
  package-lock.json
  package.json
  webpack.config.js
Due: formatjavascript, lintjavascript, other

Remove custom eslint - use WP default
  .eslintignore
  .eslintrc.js
  package-lock.json
  package.json
  webpack.config.js
Due: formatjavascript, lintjavascript, other

WDSBT-261 - Update webpack.config to be more performant
  webpack.config.js
Due: formatjavascript, lintjavascript

WDSBT-261 - Enable Caching for Loaders
  webpack.config.js
Due: formatjavascript, lintjavascript

WDSBT-261 - Suppress warning to keep output clean
  package.json
Due: other

WDSBT-261 - improve terminal output with WebpackBar and clean stats config
  package-lock.json
  package.json
  webpack.config.js
Due: formatjavascript, lintjavascript, other

WDSBT-261 - Remove lint quite option - already added to webpack
  package.json
  webpack.config.js
Due: formatjavascript, lintjavascript, other

WDSBT-261 - fix parsing for webpack.config.js with node override
  .eslintignore
  .eslintrc.json
Due: other
