Repository WebDevStudios/wds-bt: changes, and which lefthook commands are due for each by the changed paths.
All: formatphp, lintphp, formatstyles, lintstyles, formatjavascript, lintjavascript, other, templates-exclude

lefthook.yml:

pre-commit:
    commands:
        formatphp:
            glob: '*.php'
            run: composer run-script phpcs-fix {staged_files}
        lintphp:
            glob: '*.php'
            run: composer run-script phpcs {staged_files}
        formatstyles:
            glob: '*.{css,scss}'
            run: npx prettier {staged_files} --write
        lintstyles:
            glob: '*.{css,scss}'
            run: npx stylelint {staged_files} --fix
        formatjavascript:
            glob: '*.{js,ts,tsx}'
            run: npx prettier {staged_files} --write
        lintjavascript:
            glob: '*.{js,ts,tsx}'
            run: npx eslint {staged_files} --fix
        other:
            glob: '*.{yml,json,html}'
            exclude: 'group_*.json' # Exclude specific files
            run: |
                staged_files="$LEFTHOOK_STAGED_FILES"
                for file in $staged_files
                do
                  if [[ ! "$file" =~ ^templates/ ]]; then
                    npx prettier "$file" --write
                  fi
                done
            stage_fixed: true
            stage: pre-commit
        merge-conflict:
            run: echo "Resolve merge conflicts before committing"
        exit-status:
            run: echo "All pre-commit checks passed"
        templates-exclude:
            glob: 'templates/**' # Match all files and subdirectories within templates folder
            run: echo "Skipping templates folder"

Adds alpha white color and arrow right icon
  assets/js/global/custom-icons.js
  theme.json
Due: formatjavascript, lintjavascript, other

Card 40
  patterns/card-40.php
Due: formatphp, lintphp

WDSBT-261 - Add theme options for bt with speculative loading options
  assets/scss/base/_index.scss
  assets/scss/base/options.scss
  functions.php
  inc/performance/disable-speculative-loading.php
  inc/performance/speculative-loading-conditionals.php
  inc/performance/speculative-loading-debug.php
  inc/setup/theme-options.php
Due: formatphp, lintphp, formatstyles, lintstyles

WDSBT-261 - fix dynamic block loading by manual registration of editor scripts
  inc/hooks/enqueue-block-stylesheet.php
Due: formatphp, lintphp

WDSBT-261 - Removed cleanup of assets.php file for blocks - needed for rendering
  webpack.config.js
Due: formatjavascript, lintjavascript

WDSBT-285 Sets a fallback image using a placeholder image for now
  inc/hooks/featured-image-fallback.php
Due: formatphp, lintphp

Remove max width rule for core/code blocks.
  assets/scss/blocks/core/code.scss
Due: formatstyles, lintstyles

Add service page patterns
  patterns/service-fifty-fifty-alt.php
  patterns/service-fifty-fifty.php
  patterns/service-info.php
  patterns/service-list.php
  patterns/services-hero.php
Due: formatphp, lintphp

Fix lint errors
  patterns/service-fifty-fifty-alt.php
  patterns/service-fifty-fifty.php
  patterns/service-info.php
  patterns/service-list.php
  patterns/services-hero.php
Due: formatphp, lintphp

WDSBT-261 - Update packages
  .stylelintrc.json
  package-lock.json
  package.json
Due: other

WDSBT-251: modernize linting configs and resolve deprecated sniffs
  .stylelintrc.json
  composer.lock
  eslint.config.js.backup
  package-lock.json
  package.json
  phpcs.xml.dist
  stylelint.config.js
  webpack.config.js
Due: formatjavascript, lintjavascript, other

WDSBT-261 - remove sticky post fix on query block
  README.md
  inc/hooks/query-block-sticky-override.php
Due: formatphp, lintphp

WDSBT-261 - update README with PHP 8.3 compatibility and modernized linting configs
  README.md
Due: none

WDSBT-261 - update PHP compatibility to include PHP 8.3
  phpcs.xml.dist
Due: none

WDSBT-261 - bump version to 1.3.0 for modernization and PHP 8.3 compatibility
  README.md
  composer.json
  package.json
  style.css
Due: formatstyles, lintstyles, other

WDSBT-261 - add version management documentation to README
  README.md
Due: none

WDSBT-261 - Update PR template and composer lock
  .github/PULL_REQUEST_TEMPLATE.md
  composer.lock
Due: none

WDSBT-261 - confirm Node 22 compatibility in package.json engines
  package.json
Due: other

WDSBT-261 - Update .nvmrc file
  .nvmrc
Due: none

WDSBT-261 - Commit bumped up .env file to 1.3
  .env
Due: none

added AI disclosure to PR workflow
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

auto generate cursor rules from scripts
  .gitignore
  composer.json
  package-lock.json
  package.json
  scripts/README.md
  scripts/test-update-cursorrules.sh
  scripts/update-cursorrules.sh
Due: other

WDSBT-188 - Add base version release note
  RELEASE_NOTES_BASE.md
Due: none

Update theme.json: modernize CSS custom property syntax
  theme.json
Due: other

Update theme.json
  theme.json
Due: other

Update font path
  assets/fonts/body/OFL.txt
  assets/fonts/body/oxygen-v15-latin-300.woff2
  assets/fonts/body/oxygen-v15-latin-700.woff2
  assets/fonts/body/oxygen-v15-latin-regular.woff2
  assets/fonts/headline/Inter.woff2
  assets/fonts/headline/LICENSE.txt
  assets/fonts/mono/roboto-mono.woff2
Due: none

Update font paths in scss files
  assets/scss/base/options.scss
  assets/scss/blocks/core/latest-comments.scss
  assets/scss/blocks/core/latest-posts.scss
  assets/scss/blocks/core/post-author.scss
  assets/scss/blocks/core/query.scss
Due: formatstyles, lintstyles

Add automatic font generation function to themejson and fix linting errors
  assets/scss/blocks/core/latest-posts.scss
  assets/scss/blocks/core/post-author.scss
  assets/scss/blocks/core/query.scss
  functions.php
  inc/hooks/register-block-categories.php
  inc/performance/speculative-loading-conditionals.php
  inc/setup/dynamic-theme-json.php
  inc/setup/font-preload.php
  inc/setup/theme-options.php
  package.json
  tools/README.md
  tools/font-detection.php
  tools/font-generator.php
  tools/font-processor.php
  tools/generate-theme-json.php
Due: formatphp, lintphp, formatstyles, lintstyles, other

Fix linting errors
  inc/setup/font-preload.php
Due: formatphp, lintphp

Fix linting errors
  inc/setup/font-preload.php
  phpcs.xml.dist
Due: formatphp, lintphp

Fix linting errors
  inc/setup/font-preload.php
  tools/font-generator.php
  tools/font-processor.php
Due: formatphp, lintphp

Update README
  README.md
  package.json
Due: other

Chore: Add PHPCS suppression comments to each variable in CLI font detection output
  tools/font-detection.php
Due: formatphp, lintphp

Remove hardcoded font family mapping, enable true autodetection from filenames
  inc/setup/font-preload.php
  package.json
  theme.json
  tools/font-processor.php
  tools/generate-theme-json.php
Due: formatphp, lintphp, other

Update package.lock file
  package-lock.json
Due: other

Update base
  assets/scss/base/global.scss
  inc/setup/setup.php
  package-lock.json
  package.json
  theme.json
  webpack.config.js
Due: formatphp, lintphp, formatstyles, lintstyles, formatjavascript, lintjavascript, other

Update footer style
  assets/scss/template-parts/footer.scss
  inc/setup/font-preload.php
  theme.json
Due: formatphp, lintphp, formatstyles, lintstyles, other

WDSBT-3 - Style cleanup
  assets/scss/base/global.scss
  assets/scss/blocks/core/group.scss
  assets/scss/blocks/core/navigation.scss
  assets/scss/template-parts/footer.scss
  assets/scss/template-parts/header.scss
  inc/functions/back-to-top.php
  theme.json
Due: formatphp, lintphp, formatstyles, lintstyles, other

WDSBT-3 - Minor style adjustment for links
  assets/scss/base/global.scss
  assets/scss/blocks/core/navigation.scss
  templates/index.html
  theme.json
Due: formatstyles, lintstyles, other, templates-exclude

Add home template
  assets/scss/base/global.scss
  templates/home.html
Due: formatstyles, lintstyles, other, templates-exclude
