Repository WebDevStudios/wds-bt: changes, and which lefthook commands are due for each by the changed paths.
All: formatphp, lintphp, formatstyles, lintstyles, formatjavascript, lintjavascript, other, templates-exclude

formatphp:
  run: composer run-script phpcs-fix {staged_files}
  stage_fixed: true

lintphp:
  run: composer run-script phpcs {staged_files}

formatstyles:
  run: npx prettier --write {staged_files}
  stage_fixed: true

lintstyles:
  run: npx stylelint --fix --max-warnings 0 {staged_files}
  stage_fixed: true

formatjavascript:
  run: npx prettier --write {staged_files}
  stage_fixed: true

lintjavascript:
  run: npx eslint --fix --max-warnings 0 {staged_files}
  stage_fixed: true

other:
  run: "staged_files=\"$LEFTHOOK_STAGED_FILES\"\nfor file in $staged_files\ndo\n  if [[ ! \"$file\" =~ ^templates/ ]]; then\n    npx prettier --write \"$file\"\n  fi\ndone\n"
  stage_fixed: true

templates-exclude:
  run: echo "Skipping templates folder"

WDSEN-56 - Fix dominant color function to only run on top level element
  inc/performance/dominant-color-images.php
Due: formatphp, lintphp

WDSEN-56 - Wrap do_blocks() in a try/catch so other third-party blocks can't break the showcase
  inc/functions/block-showcase.php
Due: formatphp, lintphp

WDSEN-56 - Add theme colors to showcase
  assets/scss/templates/block-showcase.scss
  inc/functions/block-showcase.php
  inc/hooks/block-showcase-shortcode.php
  theme.json
Due: formatphp, lintphp, formatstyles, lintstyles, other

WDSEN-56 - Fix font output on generation
  inc/setup/dynamic-theme-json.php
  theme.json
Due: formatphp, lintphp, other

WDSEN-56 - Fix font output on generation
  theme.json
  tools/font-processor.php
  tools/generate-theme-json.php
Due: formatphp, lintphp, other

WDSEN-56 - Fix latest comments, latest post style issues
  assets/scss/blocks/core/latest-comments.scss
  assets/scss/blocks/core/latest-posts.scss
  assets/scss/blocks/core/video.scss
Due: formatstyles, lintstyles

WDSEN-56 - Fix list styles
  assets/scss/blocks/core/list.scss
Due: formatstyles, lintstyles

WDSEN-56 - Update lock files and comment updates
  composer.lock
  inc/functions/block-showcase.php
  inc/setup/dynamic-theme-json.php
  package-lock.json
Due: formatphp, lintphp, other

Adjustments to allow for theme to build on Windows
  .npmrc
  package.json
  scripts/npm-postinstall.cjs
Due: other

WDSEN-56 - Fix linter errors
  inc/hooks/block-showcase-shortcode.php
  inc/hooks/enqueue-block-stylesheet.php
  inc/hooks/register-custom-icons.php
  inc/performance/dominant-color-images.php
  inc/performance/webp-uploads.php
Due: formatphp, lintphp

Fix linter errors
  assets/scss/blocks/core/list.scss
  scripts/npm-postinstall.cjs
Due: formatstyles, lintstyles

Linter fixes and update scripts
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  composer.json
  composer.lock
  inc/functions/block-processor-utils.php
  inc/functions/block-showcase.php
  inc/hooks/block-showcase-shortcode.php
  inc/hooks/enqueue-showcase-styles.php
  inc/hooks/restrict-block-showcase-template.php
  inc/hooks/restrict-showcase-templates.php
  inc/hooks/showcase-ui-footer.php
  inc/performance/dominant-color-images.php
  inc/performance/image-prioritizer.php
  inc/performance/preload-lcp-image.php
  inc/performance/srcset-preserve-aspect-ratio.php
  inc/performance/webp-uploads.php
  lefthook.yml
  package-lock.json
  package.json
  scripts/npm-postinstall.cjs
  scripts/run-phpcbf.sh
  scripts/run-phpcs.sh
  scripts/theme-tools.cjs
Due: formatphp, lintphp, other

Fix block showcase output
  README.md
  assets/scss/base/forms.scss
  assets/scss/templates/block-showcase.scss
  docs/block-showcase.md
  patterns/headers/header-default.php
Due: formatphp, lintphp, formatstyles, lintstyles

Version update to 1.4.6 - Performance and Cross-environment fixes
  .env
  README.md
  package.json
  readme.txt
  style.css
Due: formatstyles, lintstyles, other

Only run cursorrules locally
  composer.json
  composer.lock
Due: other

Fix primary category output
  patterns/posts/primary-category.php
Due: formatphp, lintphp

WDSBT-290 - Pattern cleanup
  patterns/cards/card-11.php
  patterns/cards/card-18.php
  patterns/cards/card-19.php
  patterns/cards/card-20.php
  patterns/cards/card-21.php
  patterns/cards/card-22.php
  patterns/cards/card-27.php
  patterns/cards/card-29.php
  patterns/cards/card-3.php
  patterns/cards/card-30.php
  patterns/cards/card-31.php
  patterns/cards/card-32.php
  patterns/cards/card-38.php
  patterns/cards/card-39.php
  patterns/cards/card-40.php
  patterns/cards/card-42.php
  patterns/cards/card-43.php
  patterns/cards/card-44.php
  patterns/cards/card-5.php
  patterns/cards/card-6.php
  patterns/cards/card-9.php
  patterns/cards/mobile-content-block.php
  patterns/content/comments.php
  patterns/posts/post-hero.php
  patterns/posts/primary-category.php
Due: formatphp, lintphp

WDSBT-290 - Cleanup search and 404 templates
  assets/scss/base/forms.scss
  assets/scss/blocks/core/query.scss
  assets/scss/blocks/core/search.scss
  assets/scss/templates/404.scss
  assets/scss/templates/_index.scss
  assets/scss/templates/search.scss
  templates/404.html
  templates/search.html
  theme.json
Due: formatstyles, lintstyles, other, templates-exclude

WDSBT-290 - Add missing blog template
  templates/home.html
Due: other, templates-exclude

WDSBT-290 - Update to Block Showcase
  assets/scss/base/forms.scss
  assets/scss/blocks/core/latest-posts.scss
  assets/scss/templates/block-showcase.scss
  inc/hooks/block-showcase-shortcode.php
  theme.json
Due: formatphp, lintphp, formatstyles, lintstyles, other

WDSBT-290 - Show block theme.json variables in the attributes section if set
  assets/scss/templates/block-showcase.scss
  docs/block-showcase.md
  inc/functions/block-showcase.php
  inc/hooks/block-showcase-shortcode.php
Due: formatphp, lintphp, formatstyles, lintstyles

WDSBT-290 - Document theme.json preset variables in block showcase
  docs/block-showcase.md
Due: none

Path conditions:
  formatphp: any of: *.php
  lintphp: any of: *.php
  formatstyles: any of: *.{css,scss}
  lintstyles: any of: *.{css,scss}
  formatjavascript: any of: *.{js,ts,tsx}
  lintjavascript: any of: *.{js,ts,tsx}
  other: any of: *.{yml,json,html}, but not: group_*.json
  templates-exclude: any of: templates/**
