Repository WebDevStudios/wds-bt: changes, and which lefthook commands are due for each by the changed paths.
All: formatphp, lintphp, formatstyles, lintstyles, formatjavascript, lintjavascript, other, templates-exclude

formatphp:
  run: composer run-script phpcs-fix {staged_files}
  stage_fixed: true

lintphp:
  run: composer run-script phpcs {staged_files}

formatstyles:
  run: npx prettier --write {staged_files}
  stage_fixed: true

lintstyles:
  run: npx stylelint --fix {staged_files}
  stage_fixed: true

formatjavascript:
  run: npx prettier --write {staged_files}
  stage_fixed: true

lintjavascript:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

other:
  run: "staged_files=\"$LEFTHOOK_STAGED_FILES\"\nfor file in $staged_files\ndo\n  if [[ ! \"$file\" =~ ^templates/ ]]; then\n    npx prettier --write \"$file\"\n  fi\ndone\n"
  stage_fixed: true

templates-exclude:
  run: echo "Skipping templates folder"

Block Showcase - Page template and styles
  assets/scss/templates/_index.scss
  assets/scss/templates/block-showcase.scss
  templates/page-block-showcase.html
Due: formatstyles, lintstyles, other, templates-exclude

Block Showcase - Restrict template to admin-only
  inc/hooks/restrict-block-showcase-template.php
Due: formatphp, lintphp

Optimize config and added modern rules
  phpcs.xml.dist
Due: none

Ignoring autogenerated font-preload.php file
  .gitignore
  inc/setup/font-preload.php
Due: formatphp, lintphp

Cleanup of styles and functions
  assets/scss/base/_index.scss
  assets/scss/base/forms.scss
  assets/scss/base/global.scss
  assets/scss/base/options.scss
  assets/scss/base/pagination.scss
  assets/scss/blocks/core/button.scss
  assets/scss/blocks/core/calendar.scss
  assets/scss/blocks/core/code.scss
  assets/scss/blocks/core/comments.scss
  assets/scss/blocks/core/cover.scss
  assets/scss/blocks/core/file.scss
  assets/scss/blocks/core/gallery.scss
  assets/scss/blocks/core/group.scss
  assets/scss/blocks/core/latest-comments.scss
  assets/scss/blocks/core/latest-posts.scss
  assets/scss/blocks/core/list.scss
  assets/scss/blocks/core/navigation.scss
  assets/scss/blocks/core/page-list.scss
  assets/scss/blocks/core/post-author.scss
  assets/scss/blocks/core/preformatted.scss
  assets/scss/blocks/core/pullquote.scss
  assets/scss/blocks/core/query-pagination.scss
  assets/scss/blocks/core/query.scss
  assets/scss/blocks/core/quote.scss
  assets/scss/blocks/core/separator.scss
  assets/scss/blocks/core/social-links.scss
  assets/scss/blocks/core/table.scss
  assets/scss/blocks/core/tag-cloud.scss
  assets/scss/blocks/core/verse.scss
  assets/scss/editor.scss
  assets/scss/template-parts/footer.scss
  assets/scss/template-parts/header.scss
  assets/scss/templates/block-showcase.scss
  assets/scss/templates/search.scss
  inc/functions/block-showcase.php
  inc/hooks/block-showcase-shortcode.php
  patterns/footers/footer-default.php
  patterns/headers/header-default.php
  theme.json
Due: formatphp, lintphp, formatstyles, lintstyles, other

Cleanup and update styles and theme.json
  assets/scss/base/global.scss
  assets/scss/blocks/core/latest-comments.scss
  assets/scss/blocks/core/latest-posts.scss
  assets/scss/blocks/core/navigation.scss
  assets/scss/blocks/core/search.scss
  assets/scss/templates/block-showcase.scss
  theme.json
Due: formatstyles, lintstyles, other

Fix styles for back-to-top
  inc/functions/back-to-top.php
Due: formatphp, lintphp

Add function to add fetchpriority=high and disable lazy-loading for LCP image on single posts and pages
  assets/images/1ab5318c0d90fc029987149e13027dca849d9523.png
  inc/functions/block-showcase.php
  inc/hooks/block-showcase-shortcode.php
  inc/performance/preload-lcp-image.php
Due: formatphp, lintphp

Auto register blocks
  inc/blocks/auto-register.php
Due: formatphp, lintphp

Progress on font pipeline
  assets/fonts/body/silly-font-name-900-italic.woff2
  inc/setup/dynamic-theme-json.php
  tools/font-detection.php
  tools/font-generator.php
  tools/font-pipeline-config.php
  tools/font-processor.php
  tools/generate-theme-json.php
  tools/helpers.php
Due: formatphp, lintphp

Update block showcase: add new block types and improve HTML sanitization
  inc/blocks/auto-register.php
  inc/functions/block-showcase.php
  inc/hooks/block-showcase-shortcode.php
Due: formatphp, lintphp

Code cleanup.
  inc/blocks/auto-register.php
  inc/functions/back-to-top.php
  inc/functions/block-showcase.php
  inc/hooks/block-showcase-shortcode.php
  inc/hooks/enqueue-block-stylesheet.php
  inc/hooks/enqueue-third-party-block-stylesheet.php
  inc/hooks/register-block-pattern-categories.php
  inc/hooks/restrict-block-patterns.php
  inc/hooks/restrict-block-showcase-template.php
  inc/performance/speculative-loading-debug.php
  inc/setup/scripts.php
  inc/setup/setup.php
Due: formatphp, lintphp

Fix block showcase embed block not working.
  assets/js/block-filters/index.js
  composer.lock
  inc/block-template/block/view.js.mustache
  inc/functions/block-showcase.php
  inc/hooks/block-showcase-shortcode.php
  package-lock.json
Due: formatphp, lintphp, formatjavascript, lintjavascript, other

Update get_block_category function and add all core blocks except legacy widget and freeform
  inc/functions/block-showcase.php
  inc/hooks/block-showcase-shortcode.php
Due: formatphp, lintphp

Update block showcase to group third-party blocks by plugin namespace
  inc/functions/block-showcase.php
  inc/hooks/block-showcase-shortcode.php
Due: formatphp, lintphp

Enhance block showcase with embed fixes, native categorization, and plugin grouping.
  inc/hooks/block-showcase-shortcode.php
Due: formatphp, lintphp

Updates packages to fix deprecation warnings and change eslint to flat config format
  .env
  .eslintignore
  README.md
  a11y.cjs
  assets/js/block-filters/index.js
  composer.json
  composer.lock
  eslint.config.cjs
  inc/functions/block-showcase.php
  package-lock.json
  package.json
  phpcs.xml.dist
  readme.txt
  style.css
  webpack.config.js
Due: formatphp, lintphp, formatstyles, lintstyles, formatjavascript, lintjavascript, other

Fix linter errors
  package.json
Due: other

Add PHP path auto-detection for cross-platform compatibility
  README.md
  composer.json
  composer.lock
  package-lock.json
  package.json
  scripts/get-php.js
  scripts/get-php.sh
  webpack.config.js
Due: formatjavascript, lintjavascript, other

Additional fixes for path auto-detection
  composer.json
  package.json
  scripts/get-php-flags.sh
  theme.json
  webpack.config.js
Due: formatjavascript, lintjavascript, other

Update README with additional features
  README.md
  theme.json
Due: other

Add dominant color images placeholder support
  README.md
  inc/performance/dominant-color-images.php
Due: formatphp, lintphp

Add image prioritizer that prioritizes above-the-fold images
  README.md
  inc/performance/image-prioritizer.php
Due: formatphp, lintphp

Add basic WebP uploads feature
  README.md
  inc/performance/webp-uploads.php
Due: formatphp, lintphp

Add function to autogenerate webp images on upload, and option to regenerate imagesmanually
  inc/performance/webp-uploads.php
Due: formatphp, lintphp

Add function to autogenerate webp images on upload, and option to regenerate imagesmanually
  inc/setup/theme-options.php
Due: formatphp, lintphp

Fix array instead of string issue
  inc/performance/image-prioritizer.php
  inc/performance/preload-lcp-image.php
Due: formatphp, lintphp

Fix linter issues
  functions.php
  inc/performance/preload-lcp-image.php
  inc/performance/webp-uploads.php
  inc/setup/dynamic-theme-json.php
  inc/setup/theme-options.php
Due: formatphp, lintphp

Update README with additional features
  README.md
Due: none

Update README
  README.md
Due: none

Fix error get_first_blockhandling returns array instead of string
  inc/performance/preload-lcp-image.php
Due: formatphp, lintphp

Fix LCP image detection and prevent WebP replacement for external images
  inc/performance/webp-uploads.php
Due: formatphp, lintphp

Reduce render blocking scripts
  inc/hooks/register-block-variations.php
  inc/setup/scripts.php
Due: formatphp, lintphp

Update for link styles for a11y
  assets/scss/base/global.scss
  assets/scss/blocks/core/navigation.scss
  theme.json
Due: formatstyles, lintstyles, other

Font pipeline cleanup
  assets/fonts/body/silly-font-name-900-italic.woff2
  inc/setup/dynamic-theme-json.php
  package.json
  tools/font-detection.php
  tools/font-pipeline-config.php
  tools/generate-theme-json.php
  tools/helpers.php
Due: formatphp, lintphp, other

Update version for beta release
  .env
  README.md
  package.json
  readme.txt
  style.css
Due: formatstyles, lintstyles, other

Change version to 1.4
  .env
  README.md
  package.json
  readme.txt
  style.css
Due: formatstyles, lintstyles, other

Use folder-based slugs and remove hardcoded font patterns.
  inc/setup/dynamic-theme-json.php
Due: formatphp, lintphp

Path conditions:
  formatphp: any of: *.php
  lintphp: any of: *.php
  formatstyles: any of: *.{css,scss}
  lintstyles: any of: *.{css,scss}
  formatjavascript: any of: *.{js,ts,tsx}
  lintjavascript: any of: *.{js,ts,tsx}
  other: any of: *.{yml,json,html}, but not: group_*.json
  templates-exclude: any of: templates/**
