Repository WebDevStudios/wds-bt: changes, and which lefthook commands are due for each by the changed paths.
All: formatphp, lintphp, formatstyles, lintstyles, formatjavascript, lintjavascript, other, templates-exclude

lefthook.yml:

pre-commit:
    commands:
        formatphp:
            glob: '*.php'
            run: composer run-script phpcs-fix {staged_files}
        lintphp:
            glob: '*.php'
            run: composer run-script phpcs {staged_files}
        formatstyles:
            glob: '*.{css,scss}'
            run: npx prettier {staged_files} --write
        lintstyles:
            glob: '*.{css,scss}'
            run: npx stylelint {staged_files} --fix
        formatjavascript:
            glob: '*.{js,ts,tsx}'
            run: npx prettier {staged_files} --write
        lintjavascript:
            glob: '*.{js,ts,tsx}'
            run: npx eslint {staged_files} --fix
        other:
            glob: '*.{yml,json,html}'
            exclude: 'group_*.json' # Exclude specific files
            run: |
                staged_files="$LEFTHOOK_STAGED_FILES"
                for file in $staged_files
                do
                  if [[ ! "$file" =~ ^templates/ ]]; then
                    npx prettier "$file" --write
                  fi
                done
            stage_fixed: true
            stage: pre-commit
        merge-conflict:
            run: echo "Resolve merge conflicts before committing"
        exit-status:
            run: echo "All pre-commit checks passed"
        templates-exclude:
            glob: 'templates/**' # Match all files and subdirectories within templates folder
            run: echo "Skipping templates folder"

WDSBT-20 Add blocks folder to ignore
  .eslintignore
  .gitignore
  .markdownlintignore
  .prettierignore
  .stylelintignore
  composer.json
  inc/hooks/enqueue-block-stylesheet.php
  inc/setup/preload-scripts.php
  package-lock.json
  package.json
  phpcs.xml.dist
Due: formatphp, lintphp, other

WDSBT-20 - Fix build for core block styles and assets
  babel.config.json
  inc/hooks/enqueue-block-stylesheet.php
  inc/setup/scripts.php
  inc/setup/setup.php
  webpack.config.js
Due: formatphp, lintphp, formatjavascript, lintjavascript, other

WDSBT-20 - Fix blocks output directory path
  webpack.config.js
Due: formatjavascript, lintjavascript

WDSBT-20 - Fix packagejson linting error and fix block build output
  package.json
  webpack.config.js
Due: formatjavascript, lintjavascript, other

WDSBT-20 - Update README
  README.md
Due: none

WDSBT-20 - Add checks in webpack config to only build blocks if it's available
  README.md
  assets/scss/blocks/custom/_custom.scss
  assets/scss/editor.scss
  assets/scss/index.scss
  package.json
  webpack.config.js
Due: formatstyles, lintstyles, formatjavascript, lintjavascript, other

WDSBT-20 - Replace enqueue_block_editor_assets with enqueue_block_assets to get styles and scripts for both frontend and backend
  inc/hooks/register-block-variations.php
  inc/hooks/unregister-block-variations.php
Due: formatphp, lintphp

Add static block variation and update create block script
  inc/block-template/index.js
  package.json
Due: formatjavascript, lintjavascript, other

WDSBT-23 - Override WP Query to respect perPage count even with sticky posts
  inc/hooks/query-block-sticky-override.php
Due: formatphp, lintphp

WDSBT-23 - modify query for related posts block, exclude current post from the related posts list
  inc/functions/related-posts-query.php
Due: formatphp, lintphp

WDSBT-23 - Update ignore files to only track the assets/blocks folder
  .gitignore
  .markdownlintignore
  .prettierignore
  .stylelintignore
  phpcs.xml.dist
Due: none

WDSBT-23 - Add related posts pattern and primary category pattern
  patterns/primary-category.php
  patterns/related-posts.php
  templates/single.html
Due: formatphp, lintphp, other, templates-exclude

WDSBT-23 - Transfer related posts pattern registration
  inc/hooks/register-block-patterns.php
  patterns/related-posts.php
Due: formatphp, lintphp

Reorganize scss files
  assets/index.js
  assets/scss/_index.scss
  assets/scss/abstracts/_index.scss
  assets/scss/abstracts/mobile-only-mixins.scss
  assets/scss/abstracts/responsive-mixins.scss
  assets/scss/abstracts/utility.scss
  assets/scss/base/_index.scss
  assets/scss/base/forms.scss
  assets/scss/base/global.scss
  assets/scss/base/pagination.scss
  assets/scss/components/_components.scss
  assets/scss/index.scss
  assets/scss/layout/_layout.scss
  assets/scss/pages/_pages.scss
  assets/scss/patterns/_index.scss
  assets/scss/template-parts/_index.scss
  assets/scss/template-parts/footer.scss
  assets/scss/template-parts/header.scss
  assets/scss/templates/404.scss
  assets/scss/templates/_index.scss
  assets/scss/templates/archive.scss
  assets/scss/templates/search.scss
Due: formatstyles, lintstyles, formatjavascript, lintjavascript

Update README
  README.md
Due: none

Fix typos
  README.md
  assets/scss/editor.scss
Due: formatstyles, lintstyles

Fix gitignore blocks dirs
  .gitignore
Due: none

Fix ignore rules
  .gitignore
  .stylelintignore
Due: none

Move third party block styles
  assets/scss/blocks/third-party/_index.scss
Due: formatstyles, lintstyles

Add blocks to gitignore
  .gitignore
  .stylelintignore
Due: none

WDSBT-23 - Clean up webpack
  composer.lock
  package-lock.json
  webpack.config.js
Due: formatjavascript, lintjavascript, other

WDSBT-23 - Update Single template with patterns and related posts pattern from register_block_pattern
  inc/hooks/register-block-patterns.php
  parts/comments.html
  parts/post-meta.html
  patterns/comments.php
  patterns/post-hero.php
  templates/single.html
Due: formatphp, lintphp, other, templates-exclude

WDSBT-23 - Add buttons size filter
  assets/js/block-filters/buttons.js
  assets/js/block-filters/index.js
Due: formatjavascript, lintjavascript

WDSBT-23 - Button styles IN PROGRESS
  assets/scss/blocks/core/button.scss
Due: formatstyles, lintstyles

WDSBT-23 - Fix webpack config - hotfix
  composer.lock
  package-lock.json
  webpack.config.js
Due: formatjavascript, lintjavascript, other

Fix style.css 404
  webpack.config.js
Due: formatjavascript, lintjavascript

Fix search results and post meta
  patterns/post-meta.php
  patterns/search-results.php
  templates/search.html
Due: formatphp, lintphp, other, templates-exclude

Add styles for post meta and search
  assets/scss/patterns/_index.scss
  assets/scss/patterns/post-meta.scss
  assets/scss/templates/search.scss
Due: formatstyles, lintstyles

Add styles for post meta and search
  assets/scss/templates/search.scss
Due: formatstyles, lintstyles

Fix path
  webpack.config.js
Due: formatjavascript, lintjavascript

WDSBT-23 - Update lock files
  composer.lock
  package-lock.json
Due: other

WDSBT-23 - Update packages
  package-lock.json
  package.json
Due: other

WDSBT-23 - Update composer packages
  composer.json
  composer.lock
Due: other

WDSBT-23 - Fix theme.json error
  theme.json
Due: other

WDSBT-23 - Fix font error, and style post meta
  patterns/post-hero.php
  theme.json
Due: formatphp, lintphp, other

WDSBT-23 - Adjust related posts pattern and styles
  assets/scss/patterns/_index.scss
  assets/scss/patterns/related-posts.scss
  inc/hooks/register-block-patterns.php
Due: formatphp, lintphp, formatstyles, lintstyles

WDSBT-23 - Adjust related posts pattern and styles
  assets/scss/patterns/related-posts.scss
Due: formatstyles, lintstyles

WDSBT-23 - Fix linting errors
  assets/scss/patterns/related-posts.scss
Due: formatstyles, lintstyles

WDSBT-23 - Update related posts style
  assets/scss/patterns/related-posts.scss
Due: formatstyles, lintstyles
